body {
  width: 100%;
  height: 100%;
  font-family: 'Shadows Into Light Two', cursive;
  color: #d8d8d8;
  background-color: #4c4c4c;
  text-transform: lowercase;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 1.5;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

h1, h2 {
  font-weight: 900;
}

p {
  margin: 20px;
}

.navbar-custom {
  border-bottom: 1px solid rgba(255,255,255,.3);
  background-color: #000;
  font-weight: 900;
  padding: 0.5% 2.5%;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-custom a, .navbar-custom a:hover,
.navbar-custom a:focus, .navbar-custom a:active {
  color: #f2f2f2;
  text-decoration: none;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  color: rgba(255,255,255,.8);
  background-color: transparent;
}

.intro {
  height: 100vh;
  position: relative;
  background: url(../img/intro.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 100%;
}

.intro-body {
  top: 30%;
}

.intro-body h1 {
  font-size: 80px;
}

.intro-body p {
  font-size: 40px;
}

.content {
  padding: 50px 0;
  width: 100%;
}

#about hr,
#skills hr {
  border: solid 1px #929292;
  width: 20%;
}

#portfolio hr,
#contact hr {
  border: solid 1px #4c4c4c;
  width: 20%;
}

#portfolio {
  color: #f2f2f2;
  background-color: #929292;
  padding: 50px 10px;
}

.portfolio-box {
  border: 2px solid rgba(255,255,255,.3);
  margin: 10px 1px;
}

.tools {
  font-size: 12px;
  text-transform: none;
}

.portfolio-box img {
  padding: 15px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.portfolio-box img:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
}

.portfolio-box .img-responsive{
  width:100%;
}

#skills {
  text-transform: none;
  font-size: 16px;
}

#contact {
  color: #f2f2f2;
  background-color: #929292;
}

.social-btns li {
  margin: 2%;
  padding: 0;
}

#map {
  height: 400px;
}

.map {
  padding: 1% 10%;
}

footer p {
  color: #35272d;
  font-weight: 900;
  font-size: 18px;
}

.btn {
  border-radius: 0;
  font-weight: 900;
  border: 2px solid #35272d;
  color: #35272d;
  background-color: #d8d8d8;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default:hover,
.btn-default:focus {
  border: 2px solid #35272d;
  color: #d8d8d8;
  background-color: #35272d;
}

.back-to-top {
  margin: 30px 0 0;
}

@media(min-width:768px) {
  .navbar-custom {
    border-bottom: 0;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
    background: #000;
  }
}

@media (max-width:768px) {
  .intro-body h1 {
    font-size: 45px;
  }
  .intro-body p {
    font-size: 25px;
  }
  footer p {
    font-size: 16px;
  }
  .social-btns li {
    display: block;
  }
  #map {
    height: 300px;
    margin-top: 40px;
  }
}
